<footer class="contact" id="contact">
  <div class="container">
    <h2>Contactame</h2>
    <form action="" class="d-flex justify-content-between flex-wrap">
      <input class="form-control nombre" type="text" placeholder="Nombre:">
      <input class="form-control correo" type="email" placeholder="Correo:">
      <textarea class="form-control" name="" id="" placeholder="Mensaje:" rows="3"></textarea>
      <div class="contenedor-boton">
        <app-boton [textoBtn]="'Enviar'"></app-boton>
      </div>
    </form>
    <app-redes></app-redes>
    <p>Desarrollado por Jorge Morales Viveros - 2024</p>
  </div>
</footer>
