<footer class="contact" id="contact">
  <div class="container">
    <h2>Contáctame</h2>
    <form [formGroup]="contactForm" id="contact-form" class="d-flex justify-content-between flex-wrap"
      (ngSubmit)="onSubmit()">
      <input formControlName="from_name" class="form-control nombre" type="text" name="from_name" id="from_name"
        placeholder="Nombre:" required>
      <input formControlName="reply_to" class="form-control correo" type="email" name="reply_to" id="reply_to"
        placeholder="Correo:" required>
      <textarea formControlName="message" class="form-control" name="message" id="message" placeholder="Mensaje:"
        rows="3" required></textarea>
      <div class="contenedor-mensaje">
        <app-mensaje-formulario *ngIf="showMessage" [textoMensaje]="mensaje" [isSuccess]="success"></app-mensaje-formulario>
      </div>
      <div class="contenedor-boton">
        <app-boton [textoBtn]="'Enviar'" [type]="'submit'"></app-boton>
      </div>
    </form>
    <app-redes></app-redes>
    <p>Desarrollado por Jorge Morales Viveros - 2024</p>
  </div>
</footer>
