.navbar {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0;
  backdrop-filter: blur(40px);
}

.navbar-collapse {
  flex-grow: 0;
}

ul {
  margin: auto;
}

li {
  margin-left: 10px;
  margin-right: 10px;
}

.enlace {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.enlace:hover {
  border-bottom: 1px #ff653f solid;
  transition: .2s linear;
}

.name {
  background: rgba(255, 255, 255, 0.10);
  border-radius: 5px;
  text-align: center;
  padding: 8px;
  cursor: pointer;
}

.scrollarriba {
  background-color: transparent;
  box-shadow: none;
  transition: .5s ease;
}

.scrollabajo {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: .5s ease;
}

.navbar-toggler {
  border: none;
  /* Elimina el borde del botón */
}

@media screen and (max-width: 990px) {

  a {
    width: 100%;
    margin: auto;
  }
}
