.navbar {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin: 0;
}

ul {
    margin: auto;
}

li {
    margin-left: 10px;
    margin-right: 10px;
}

a {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border-radius: 5px;
}

a:hover {
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    text-align: center;
    transition: .5s linear;
}

.name {
    background: rgba(255, 255, 255, 0.15);
}

.scrollarriba {
    background-color: transparent;
    box-shadow: none;
    transition: .5s ease;
}

.scrollabajo {
    background-color: #1b283d;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: .5s ease;
}