<nav [class.scrollarriba]="true" [class.scrollabajo]="scrollVisible" class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid container">
    <button class="navbar-toggler" type="button" data-bs-target="#my-nav" data-bs-toggle="collapse"
      aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse contenido-navbar">
      <ul class="navbar-nav">
        <li class="li-name">
          <a routerLink="" class="nav-link text-white name">👨‍💻 Jorge Morales Viveros</a>
        </li>
        <li class="nav-item">
          <a routerLink="/" class="nav-link text-white enlace">Home</a>
        </li>
        <li class="nav-item">
          <a href="#acerca-de" class="nav-link text-white enlace">Acerca de</a>
        </li>
        <li class="nav-item">
          <a href="#proyectos" class="nav-link text-white enlace">Proyectos</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link text-white enlace">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
