<section class="experiencia">
  <div class="card-1">
    <div class="img-experiencia-1">
      <img loading="lazy" src="assets/experiencia/escire.webp" alt="escire" width="150">
    </div>
    <div class="descripcion-1">
      <h2>Desarrollador Web - FullStack</h2>
      <hr>
      <p>2022 - 2023</p>
    </div>
  </div>
  <div class="card-2">
    <div class="img-experiencia-2">
      <img loading="lazy" src="assets/experiencia/itsm.webp" alt="itsm" width="150">
    </div>
    <div class="descripcion-2">
      <h2>Ing. Sistemas Computacionales</h2>
      <hr>
      <p>2017 - 2023</p>
    </div>
  </div>
</section>
