<ul class="nav justify-content-center  ">
    <li class="nav-item">
        <a class="nav-link linkedin" href="https://www.linkedin.com/in/jorge-morales-viveros-02b934107/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link github" href="https://github.com/Jorge-MoralesV" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link instagram" href="https://www.instagram.com/jorge_mviveros/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </li>
</ul>