/*Contenedor*/
.container {
  padding-top: 100px;
  color: #fff;
  text-align: center;
}

/* Botones */
.container .botones {
  display: inline-flex;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  outline: none;
}

.container .botones button {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  width: 50%;
  font-size: larger;
  border: none;
}

.container .botones .disabled,
.container .botones .enable {
  border: 0.5px solid transparent;
}

.container .botones .disabled {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
}

.container .botones .enable:hover {
  border-bottom-color: #ff653f;
}

.container .botones .disabled:hover {
  border-color: #fff;
}

/* Contenido */
.contenido {
  margin-top: 10px;
  padding: 50px;
}

.descripcion {
  text-align: center;
  font-size: larger;
  padding-bottom: 25px;
}

.acerca-de {
  padding-bottom: 50px;
}

/*---- Herramientas -----*/
.herramientas {
  margin-bottom: 50px;
}

.herramientas .lenguajes,
.herramientas .software {
  text-align: left;
  margin-left: 150px;
  margin-right: 150px;
}

hr{
  border: 1px #fff solid;
}

.herramientas .lenguajes {
  text-align: left;
}

.herramientas .software {
  text-align: right;
}

.lenguajes,
.software {
  margin-top: 30px;
}

.herramientas .brands {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}

.herramientas .brands .brand {
  border: 2px solid rgba(255, 255, 255, 0.15);
  width: 100px;
  height: 100px;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
  transition: .2s ease-in-out;
  align-content: center;
}

.herramientas .brands .brand:hover {
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.30);
}

.herramientas .brands .brand img {
  width: 100%;
}

/* -- Comportamiento default -- */
.acerca-de {
  display: block;
}

.herramientas {
  display: block;
}

@media screen and (max-width: 1000px) {
  .herramientas .lenguajes {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }

  .herramientas .software {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }
}


@media screen and (max-width: 750px) {

  /* Tarjetas */
  .tarjetas {
    flex-wrap: wrap;
  }

  .back {
    border-radius: 20px 20px 0px 0px;
  }

  .diseñar {
    border-radius: 0px;
  }

  .front {
    border-radius: 0px 0px 20px 20px;
  }

  .tarjetas .tarjeta {
    padding-bottom: 30px;
  }

}
