* {
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
}

/*Contenedor*/
.container {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  color: #fff;
  text-align: center;
}

/* Botones */
.container .botones {
  display: inline-flex;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  outline: none;
}

.container .botones a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  width: 50%;
  font-size: larger;
}

.container .botones .izquierdo {
  border-radius: 10px 10px 0px 0px !important;
  background: rgba(255, 255, 255, 0);
}

.container .botones .derecho {
  border-bottom: #A1E887 0.5px solid;
  background: rgba(0, 0, 0, 0.3);
}


/* Contenido */
.contenido {
  padding: 50px;
}

.descripcion {
  text-align: center;
  font-size: larger;
  padding-bottom: 25px;
}

.acerca-de {
  padding-bottom: 50px;
}

/* Tarjetas */
.tarjetas {
  display: flex;
  margin-top: 5%;
}

.tarjetas .tarjeta {
  background: #fff;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  margin: 5px;
  text-align: center;
}

.tarjetas .tarjeta img {
  margin-top: -15%;
  width: 30%;
  margin-bottom: 20px;
}

.tarjetas .tarjeta h3 {
  color: rgba(255, 103, 0, 1);
}

.tarjetas .tarjeta p {
  margin: 20px;
}

.back {
  border-radius: 20px 0px 0px 20px;
}

.front {
  border-radius: 0px 20px 20px 0px;
}

/*---- Herramientas -----*/
.herramientas {
  margin-bottom: 50px;
}

.herramientas .lenguajes {
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(255, 255, 255);
  margin-left: 150px;
  margin-right: 150px;
}

.herramientas .software {
  text-align: right;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(255, 255, 255);
  margin-left: 150px;
  margin-right: 150px;
}

.lenguajes,
.software {
  margin-top: 30px;
}

.herramientas .brands {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.herramientas .brands .brand {
  border: 2px solid rgba(255, 255, 255, 0.15);
  width: 100px;
  height: 100px;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
  transition: .3s ease-in-out;
  align-content: center;
}

.herramientas .brands .brand:hover {
  background-color: #ffffff;
}

.herramientas .brands .brand img {
  width: 100%;
}

/* -- Comportamiento default -- */
.acerca-de {
  display: block;
}

.herramientas {
  display: block;
}

@media screen and (max-width: 1000px) {
  .herramientas .lenguajes {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }

  .herramientas .software {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }
}


@media screen and (max-width: 750px) {

  /* Tarjetas */
  .tarjetas {
    flex-wrap: wrap;
  }

  .back {
    border-radius: 20px 20px 0px 0px;
  }

  .diseñar {
    border-radius: 0px;
  }

  .front {
    border-radius: 0px 0px 20px 20px;
  }

  .tarjetas .tarjeta {
    padding-bottom: 30px;
  }

}
