<section id="acerca-de" class="container">

  <div class="botones">
    <button [className]="tools ? 'disabled ms-0 me-1' : 'transparency-efect enable ms-0 me-1'"
      (click)="cambio(false)">Acerca de mí</button>
    <button [className]="tools ? 'transparency-efect enable ms-1 me-0' : 'disabled ms-1 me-0'"
      (click)="cambio(true)">Herramientas</button>
  </div>

  <div class="contenido transparency-efect" id="contenido">
    <!-- Acerca de -->
    <div class="acerca-de" *ngIf="tools === false">
      <p class="descripcion">
        {{descripcion}}
      </p>

      <app-experiencia></app-experiencia>

    </div>

    <!-- Herramientas -->
    <div class="herramientas" id="herramientas" *ngIf="tools === true">
      <p class="descripcion">Aquí algunos de los lenguajes y tecnologías que he llegado a usar en mis proyectos.</p>
      <h2 class="lenguajes">Lenguajes y Tecnologias</h2>
      <hr>
      <div class="brands" *ngFor="let lenguaje of lenguajes">
        <div>
          <div class="brand">
            <img loading="lazy" [src]="'assets/iconos-herramientas/'+lenguaje+'.svg'" alt={{lenguaje}}>
          </div>
          <p>{{lenguaje}}</p>
        </div>
      </div>
      <h2 class="software">Herramientas y Software</h2>
      <hr>
      <div class="brands" *ngFor="let herramienta of herramientas">
        <div>
          <div class="brand">
            <img loading="lazy" [src]="'assets/iconos-herramientas/'+herramienta+'.svg'" alt={{herramienta}}>
          </div>
          <p>{{herramienta}}</p>
        </div>
      </div>
    </div>

    <app-boton (click)="goCv()" [textoBtn]="'CV'"></app-boton>

  </div>

</section>
