* {
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*Contenedor*/
.container {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    color: #fff;
    text-align: center;
}

/* Botones */
.container .botones {
    display: inline-flex;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    outline: none;
}

.container .botones a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    width: 50%;
}

.container .botones .izquierdo {
    border-radius: 10px 10px 0px 0px !important;
    background: rgba(255, 255, 255, 0);
}

.container .botones .derecho {
    border-bottom: #A1E887 0.5px solid;
    background: rgba(0, 0, 0, 0.3);
}


/* Contenido */
.contenido {
    padding: 50px;
}

.contenido .descripcion {
    text-align: center;
    padding-bottom: 25px;
}

.acerca-de {
    padding-bottom: 50px;
}

/* Tarjetas */
.tarjetas {
    display: flex;
    margin-top: 5%;
}

.tarjetas .tarjeta {
    background: #fff;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    margin: 5px;
    text-align: center;
}

.tarjetas .tarjeta img {
    margin-top: -15%;
    width: 30%;
    margin-bottom: 20px;
}

.tarjetas .tarjeta h3 {
    color: rgba(255, 103, 0, 1);
}

.tarjetas .tarjeta p {
    margin: 20px;
}

.back {
    border-radius: 20px 0px 0px 20px;
}

.front {
    border-radius: 0px 20px 20px 0px;
}

/*---- Herramientas -----*/
.herramientas {
    margin-bottom: 50px;
}

.herramientas .lenguajes {
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(255, 103, 0, 1);
}

.herramientas .software {
    text-align: right;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(255, 103, 0, 1);
}

.herramientas .brands {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.herramientas .brands .brand {
    display: flex;
    background: #fff;
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
}

.herramientas .brands .brand img {
    width: 100%;
}

/* -- Comportamiento default -- */
.acerca-de {
    display: block;
}

.herramientas {
    display: block;
}


/* button */
.btn-cv {
    margin-top: 150px;
    padding: 15px 40px;
    text-decoration: none;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}

.btn-cv::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* glow */
.btn-cv::before {
    content: "";
    background: linear-gradient(45deg,
            #FF0000, #FF7300, #FFFB00, #48FF00,
            #00FFD5, #002BFF, #FF00C8, #FF0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}


@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* hover */
.btn-cv:hover::before {
    opacity: 1;
}

.btn-cv:active::after {
    background: transparent;
}

.btn-cv:active {
    color: #000;
    font-weight: bold;
}