<br id="acerca-de">
<br>
<br>
<section class="container">

  <div class="botones">
    <a [className]="tools ? 'derecho' : 'izquierdo'" (click)="cambio(false)" id="btn-left">Acerca de</a>
    <a [className]="tools ? 'izquierdo' : 'derecho'" (click)="cambio(true)" id="btn-right">Herramientas</a>
  </div>

  <div class="contenido" id="contenido">
    <!-- Acerca de -->
    <div class="acerca-de" *ngIf="tools === false">
      <p class="descripcion">Egresado de la carrera de ingeniería de
        sistemas computacionales, apasionado por el desarrollo de aplicaciones y el mantenimiento y soporte de hardware.
        <br>
        Con sólidos conocimientos en programación, diseño de sistemas y resolución de problemas técnicos. Comprometido
        con la
        innovación y la mejora continua en el ámbito tecnológico.
      </p>

      <div class="experiencia">
        <p>Experiencia</p>
        <div class="exp-web">
          <img src="assets/experiencia/escire.jpg" alt="eScire" width="100">
          <div class="contenido">
            <h2>Desarrollador Web FullStack</h2>
            <p>Septiembre 2022 - Mayo 2023</p>
          </div>
        </div>
        <div class="exp-tec">
          <img src="assets/experiencia/itsm.png" alt="ITSM" width="100">
          <div class="contenido">
            <h2>Ing. Sistemas Computacionales</h2>
            <p>2017 - 2023</p>
          </div>
        </div>
      </div>
      <!--       <div class="tarjetas">
        <div class="tarjeta back">
          <img src="../../../assets/Acerca/Back.svg" alt="">
          <h3>BackEnd</h3>
          <p>{{back}}</p>
        </div>
        <div class="tarjeta diseñar">
          <img src="../../../assets/Acerca/Diseñar.svg" alt="">
          <h3>Diseñar</h3>
          <p>{{back}}</p>
        </div>
        <div class="tarjeta front">
          <img src="../../../assets/Acerca/Front.svg" alt="">
          <h3>FrontEnd</h3>
          <p>{{back}}</p>
        </div>
      </div> -->
    </div>

    <!-- Herramientas -->
    <div class="herramientas" id="herramientas" *ngIf="tools === true">
      <p class="descripcion">Aquí algunos de los lenguajes y tecnologías que he llegado a usar en mis proyectos.</p>
      <h2 class="lenguajes">Lenguajes y Tecnologias</h2>
      <div class="brands" *ngFor="let lenguaje of lenguajes">
        <div>
          <div class="brand">
            <img [src]="'assets/iconos-herramientas/'+lenguaje+'.svg'" alt={{lenguaje}}>
          </div>
          <p>{{lenguaje}}</p>
        </div>
      </div>
      <h2 class="software">Herramientas y Software</h2>
      <div class="brands" *ngFor="let herramienta of herramientas">
        <div>
          <div class="brand">
            <img [src]="'assets/iconos-herramientas/'+herramienta+'.svg'" alt={{herramienta}}>
          </div>
          <p>{{herramienta}}</p>
        </div>
      </div>
    </div>

    <app-boton routerLink="assets/foto.jpg" routerLinkActive="active" [textoBtn]="'CV'"></app-boton>

  </div>


</section>
