<section class="container">

    <div class="botones">
        <a class="izquierdo" id="btn-left">Acerca de</a>
        <a class="derecho" id="btn-right">Herramientas</a>
    </div>

    <div class="contenido" id="contenido">
        <!-- Acerca de -->
        <div class="acerca-de" id="acerca-de">
            <p class="descripcion">{{description}}</p>
            <div class="tarjetas">
                <div class="tarjeta back">
                    <img src="../../../assets/Acerca/Back.svg" alt="">
                    <h3>BackEnd</h3>
                    <p>{{back}}</p>
                </div>
                <div class="tarjeta diseñar">
                    <img src="../../../assets/Acerca/Diseñar.svg" alt="">
                    <h3>Diseñar</h3>
                    <p>{{back}}</p>
                </div>
                <div class="tarjeta front">
                    <img src="../../../assets/Acerca/Front.svg" alt="">
                    <h3>FrontEnd</h3>
                    <p>{{back}}</p>
                </div>
            </div>
        </div>

        <!-- Herramientas -->
        <div class="herramientas" id="herramientas">
            <h2 class="lenguajes">Lenguajes y Tecnologias</h2>
            <div class="brands">
                <div class="brand">
                    <img src="../../../assets/iconos-herramientas/java.svg" alt="Java">
                </div>
                <div class="brand">
                    <img src="../../../assets/iconos-herramientas/javascript.svg" alt="Java">
                </div>
                <div class="brand">
                    <img src="../../../assets/iconos-herramientas/typescript.svg" alt="Java">
                </div>
                <div class="brand">
                    <img src="../../../assets/iconos-herramientas/Php/Php.svg" alt="Java">
                </div>
                <div class="brand">
                    <img src="../../../assets/iconos-herramientas/html5.svg" alt="Java">
                </div>
                <div class="brand">
                    <img src="../../../assets/iconos-herramientas/css.svg" alt="Java">
                </div>
            </div>
            <h2 class="software">Herramientas y Software</h2>
            <div class="brands">
                <div class="brand">
                    <img src="../../../assets/iconos-herramientas/adobe-xd.svg" alt="Java">
                </div>
                <div class="brand">
                    <img src="../../../assets/iconos-herramientas/angular.svg" alt="Java">
                </div>
                <div class="brand">
                    <img src="../../../assets/iconos-herramientas/bootstrap.svg" alt="Java">
                </div>
                <div class="brand">
                    <img src="../../../assets/iconos-herramientas/canva.svg" alt="Java">
                </div>
                <div class="brand">
                    <img src="../../../assets/iconos-herramientas/mysql.svg" alt="Java">
                </div>
                <div class="brand">
                    <img src="../../../assets/iconos-herramientas/tailwindcss.svg" alt="Java">
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="experiencia">
        <div class="exp-web">
            <img src="../../../assets/experiencia/escire.jpg" alt="eScire">
            <div class="contenido">
                <h2>Desarrollador Web PKP</h2>
                <p>Septiembre 2022 - Mayo 2023</p>
            </div>
        </div>
        <div class="exp-tec">
            <img src="../../../assets/experiencia/itsm.png" alt="ITSM">
            <div class="contenido">
                <h2>Ing. Sistemas Computacionales</h2>
                <p>2017 - 2023</p>
            </div>
        </div>
    </div> -->
    <a href="https://drive.google.com/file/d/1Y2H-VQEHojqkB5aFu6_MGVZXv9e5YtJr/view?usp=sharing" target="_blank"
        class="nav-link text-white btn-cv">CV</a>
</section>