<br id="proyectos">
<section class="page d-flex justify-content-center flex-wrap container">

  <div class="encabezado">
    <h1 class="title">Proyectos</h1>
  </div>

  <div class="proyectos d-flex justify-content-center flex-wrap">

    <h2>Desarrollado en eScire</h2>
    <p>Aquí hay algunos de los proyectos en los que trabaje en eScire.</p>

    <div class="d-flex" *ngFor="let item of escire; let i = index">
      <div class="proyecto col-12">

        <div [ngClass]="i%2==0 ? 'sec1' : 'sec1 order-1'">
          <img class="imagen-proyecto" src={{item.img[0]}} alt="Imagen del proyecto">
        </div>

        <div [ngClass]="i%2==0 ? 'sec2' : 'sec2 order-0'">
          <h3>{{item.nombre}}</h3>
          <p class="nombre-empresa">{{item.empresa_asosiacion}}, {{item.fecha}}</p>
          <img class="imagen-proyecto" src={{item.img[0]}} alt="Imagen del proyecto">
          <p class="text-center descripcion">{{item.descripcion_corta}}</p>
          <div class="brands" *ngFor="let brand of item.herramientas">
            <div class="brand">
              <img [src]="'assets/iconos-herramientas/' + brand + '.svg'" alt="" width="20" height="20">
            </div>
            <p class="nombre-brand">{{brand}}</p>
          </div>
          <div class="text-center">
            <app-boton (click)="abrirModal('escire', i)" [textoBtn]="'Detalles'" data-bs-toggle="modal"
              data-bs-target="#modalProjects" />
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="proyectos d-flex justify-content-center flex-wrap">

    <h2>Desarrollado por mí</h2>
    <p>Aquí hay algunos de los proyectos que he realizado.</p>

    <div class="d-flex" *ngFor="let item of proyectos; let i = index">

      <div class="proyecto col-12">

        <div [ngClass]="i%2==0 ? 'sec1' : 'sec1 order-1'">
          <img class="imagen-proyecto" src={{item.img[0]}} alt="Imagen del proyecto">
        </div>

        <div [ngClass]="i%2==0 ? 'sec2' : 'sec2 order-0'">
          <h3>{{item.nombre}}</h3>
          <p class="nombre-empresa">{{item.empresa_asosiacion}}, {{item.fecha}}</p>
          <img class="imagen-proyecto" src={{item.img[0]}} alt="Imagen del proyecto">
          <p class="text-center descripcion">{{item.descripcion_corta}}</p>
          <div class="brands" *ngFor="let brand of item.herramientas">
            <div class="brand">
              <img [src]="'assets/iconos-herramientas/' + brand + '.svg'" alt="" width="20" height="20">
            </div>
            <p class="nombre-brand">{{brand}}</p>
          </div>
          <div class="text-center">
            <app-boton (click)="abrirModal('proyectos', i)" [textoBtn]="'Detalles'" data-bs-toggle="modal"
              data-bs-target="#modalProjects" />
          </div>
        </div>

      </div>
    </div>
  </div>

</section>

<!-- Modal-->
<div class="modal fade" id="modalProjects" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">

    <div class="modal-content">

      <div class="modal-header">
        <div>
          <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">{{proyectoActual?.nombre}}</h1>
        </div>
        <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <p>{{proyectoActual?.empresa_asosiacion}}, {{proyectoActual?.fecha}}</p>
        <app-carrusel [imagenes]="proyectoActual?.img" />
        <div class="contenedor-body">

          <div class="descripciones">
            <p>{{proyectoActual?.descripcion_corta}}</p>
            <p>{{proyectoActual?.descripcion}}</p>
          </div>

          <div *ngFor="let item of proyectoActual?.extra">
            <div [ngClass]="item?.extra > 0 ? 'extra-proyecto d-none' : 'extra-proyecto d-block'">
              <img src={{item?.imagen}} alt="" width="500">
              <p>{{item?.texto}}</p>
            </div>
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <div class="herramientas">
          <div class="brands" *ngFor="let brand of proyectoActual?.herramientas">
            <div class="brand">
              <img [src]="'assets/iconos-herramientas/' + brand + '.svg'" alt="" width="20" height="20">
            </div>
          </div>
        </div>
        <div class="contenedor-boton">
          <app-boton [textoBtn]="'Visitar'" (click)="abrirEnlace(proyectoActual?.enlace)" />
        </div>
      </div>
    </div>

  </div>
</div>
