<section class="page d-flex justify-content-center flex-wrap container">

  <div class="encabezado">
    <h1 class="title">Proyectos</h1>
  </div>

  <div class="proyectos d-flex justify-content-center flex-wrap">

    <h2>Desarrollado en eScire</h2>
    <p>Aquí hay algunos de los proyectos en los que trabaje en eScire.</p>

    <div class="d-flex" *ngFor="let item of escire; let i = index">

      <div class="proyecto col-12">
        <div class="sec1">
          <img src={{item.img[0]}} alt="Imagen del proyecto">
        </div>
        <div class="sec2">
          <h4>{{item.nombre}}</h4>
          <p>{{item.empresa_asosiacion}}</p>
          <img src={{item.img[0]}} alt="Imagen del proyecto">
          <p class="text-center">{{item.descripcion}}</p>
          <div class="text-center">
            <app-boton (click)="enviarId(i)" [textoBtn]="'Más info'" data-bs-toggle="modal"
              data-bs-target="#modalProjects" />
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="proyectos d-flex justify-content-center flex-wrap">

    <h2>Desarrollado por mí</h2>
    <p>Aquí hay algunos de los proyectos desarrollados por mí.</p>

    <div class="d-flex" *ngFor="let item of proyectos; let i = index">

      <div class="proyecto col-12">
        <div class="sec1">
          <img src={{item.img[0]}} alt="Imagen del proyecto">
        </div>
        <div class="sec2">
          <h4>{{item.nombre}}</h4>
          <p>{{item.empresa_asosiacion}}</p>
          <img src={{item.img[0]}} alt="Imagen del proyecto">
          <p class="text-center">{{item.descripcion}}</p>
          <div class="text-center">
            <app-boton (click)="enviarId(i)" [textoBtn]="'Más info'" data-bs-toggle="modal"
              data-bs-target="#modalProjectsMe" />
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<!-- Modal eScire-->
<div class="modal fade" id="modalProjects" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">{{escire[index]?.nombre}}</h1>
        <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-carrusel [imagenes]="escire[index]?.img" />
        <p>{{escire[index]?.descripcion}}</p>
      </div>
      <div class="modal-footer">
        <app-boton [textoBtn]="'Visitar'" (click)="abrirEnlace(escire[index]?.enlace)" />
      </div>
    </div>
  </div>
</div>

<!-- Modal proyectos -->
<div class="modal fade" id="modalProjectsMe" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">{{proyectos[index]?.nombre}}</h1>
        <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-carrusel [imagenes]="proyectos[index]?.img" />
        <p>{{proyectos[index]?.descripcion}}</p>
      </div>
      <div class="modal-footer">
        <app-boton [textoBtn]="'Visitar'" (click)="abrirEnlace(proyectos[index]?.enlace)" />
      </div>
    </div>
  </div>
</div>
