.page{
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100%;
    margin: 0;
}

.content-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    color: white;
    background-color: #7e7e7e38;
    width: 200px;
    margin-bottom: 15px;
}

.modal-header, .modal-body, .modal-footer{
    color: white;
    background-color: #1B2631;
}

ul {
    display: flex;
    list-style: none;
}

.etiqueta {
    background-color: #48FF9C;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    width: 65px;
}