section {
  height: 100vh;
  align-content: center;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contenedor-nombre,
.contenedor-foto {
  width: 50%;
}

.contenedor-nombre {
  text-align: center;
  color: #fff;
}

.contenedor-nombre h1 {
  font-size: 80px;
}

.contenedor-nombre h2 {
  font-size: 100px;
}

.contenedor-nombre p {
  font-size: 30px;
}

.contenedor-nombre .area {
  text-decoration: underline wavy #ff653f;
}

.contenedor-foto img {
  width: 80%;
  height: auto;
}

.contenedor-nombre .titulo {
  margin-bottom: 15px;
}

@media screen and (max-width: 1000px) {

  .contenedor-nombre,
  .contenedor-foto {
    width: 100%;
    text-align: center;
  }

  .contenedor-nombre h1 {
    font-size: 50px;
  }

  .contenedor-nombre h2 {
    font-size: 60px;
  }

  .contenedor-nombre p {
    font-size: 20px;
  }
}

@media screen and (max-width: 550px) {

  .contenedor-nombre h1 {
    font-size: clamp(4rem, 2vw + 1rem, 5rem);
  }

  .contenedor-nombre h2 {
    font-size: clamp(4rem, 2vw + 4rem, 5rem);
  }

  .contenedor-nombre p {
    font-size: clamp(1rem, 2vw + 1rem, 3rem);
    margin: auto;
  }

}
